.responsive {
  width: 100%;
  height: auto;
}

#left-main {
  left: 191px;
}

/*
<!--
@media (max-width: 815.98px) {
  #left-main {
  left: auto;
  top: 45px;
    }
  }

.bg-mobile {
    background-image:url('/assets/images/bg_1.jpg') !important;
    background-position: 50% -1px !important;
}

@media (max-width: 300px) {
  .bg-mobile {

    background-image:url('/assets/images/bg_1_.jpg') !important;
    background-position: 50% -1px !important;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  .bg-mobile {

    background-image:url('/assets/images/bg_1_.jpg') !important;
    background-position: 50% -1px !important;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .bg-mobile {

    background-image:url('/assets/images/bg_1_.jpg') !important;
    background-position: 50% -1px !important;
  }
}
@media (max-width: 815px) {
  .bg-mobile {

    background-image:url('/assets/images/bg_1_.jpg') !important;
    background-position: 50% -1px !important;
  }
}

.bg-pages {
    background-image:url('/assets/images/bg_1_.jpg') !important;
    background-position: 50% -1px !important;
}

@media (max-width: 815px) {
  .bg-pages {

    background-image:url('/assets/images/bubbles_.jpg') !important;
    background-position: 50% -1px !important;
  }
}
-->
*/

ul {
    list-style: none;
}

ul.icons {
    cursor: default;
    padding-left: 0px;
    list-style: none;
}
ul.icons li {
    display: inline-block;
    padding-right: 5px;
    padding: 0 1.5em 0 0;
}

#div_top_socials {
    display:inline;
}

#ul_top_socials li{
    display: inline;
}

/* <!-- CSS Form -->

/* Add a background color and some padding around the form */
.containerx {

    border-radius: 5px;
    border: 1px solid #ccc; /* Gray border */
    background-color: #FFFFFF;
    padding: 20px;
}

input[type=password]{

    width: 100%; /* Full width */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-style: none none solid none
}

input[type=password]:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

/* Style inputs with type="text", select elements and text areas */
input[type=text], select, textarea {

    width: 100%; /* Full width */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-style: none none solid none

}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

*:focus {
    outline: none;
}
